@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-width: 320px;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  background: linear-gradient(to bottom right, #002c3c, #330e1c) 0 100%;
  background-attachment: fixed;  
}

code {
  font-family: courier, monospace;
  font-size: 11px;
}

.app-window {
  margin: auto;
  max-width: 1440px;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 50px auto 50px auto;
  padding: 0 20px;
}

h2 {
  font-size: 20px;
  padding-bottom: 10px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, rgb(204, 93, 120), rgba(204, 93, 120, 0.50));
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.separator {
  display: flex;
  margin: auto;
  width: 80%;
  padding: 5px;
  justify-content: center;
  text-align: center;
}

.separator:nth-of-type(n + 2) {
  margin-top: 50px;
}

.section {
  padding: 20px;
}

.property-title {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.container {
  margin-bottom: 10px;
}

.visual {
  width: 320px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-buttons {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  padding: 10px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #cbd6dc;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.select-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #cbd6dc;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.active {
  border-color: #f3f3f3;
  background-color: #f3f3f3;
  color: #032c3c;
}

.flex-items {
  display: flex;
  align-items: start;
  position: relative;
  margin: 40px auto 0;
  padding: 10px;
  width: 280px;
  height: 300px;
  border: 1px solid #cbd6dc;
  border-radius: 10px;
}

.flex-items::before {
  content: '.container';
  position: absolute;
  width: max-content;
  height: max-content;
  top: -15px;
  left: 15px;
  padding: 0 7px 0 5px;
  background-color: #cbd6dc;
  font-family: courier, monospace;
  font-size: 12px;
  color: #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.flex-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  transition: 0.5s;
}

.flex-item:nth-child(1) {
  background-color: #7b1a2e;
  padding-top: 8px;
  padding-bottom: 8px;
}

.flex-item:nth-child(2) {
  background-color: #df7121;
}

.flex-item:nth-child(3) {
  background-color: #a9a44c;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex-item:nth-child(4) {
  background-color: #578c3f;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-item:nth-child(5) {
  background-color: #099e9b;
  padding-top: 30px;
  padding-bottom: 30px;
}

.flex-item:nth-child(6) {
  background-color: #0b6c8e;
}

.flex-item:nth-child(7) {
  background-color: #595071;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-item:nth-child(8) {
  background-color: #7d4672;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00000040;
  padding: 20px;
  width: 100%;
  min-height: 300px;
}

.description-block:nth-child(2) {
  margin-top: 10px;
}

.example-css-code {
  height: max-content;
  min-height: 80px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f3f3f3;
  color: #032c3c;
}

.block {
  display: block;
}

.align-items-stretch {
  align-items: stretch;
}

.align-content-stretch {
  align-content: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.inputs {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.inputs__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px auto;
}

.inputs__container {
  margin: auto;
}

.inputs__text {
  position: relative;
  margin-right: 10px;
}

.inputs__text::before {
  position: absolute;
  content: 'Только целое число';
  top: 37px;
  left: 0;
  width: 138px;
  padding: 2px 5px;
  border-radius: 5px;
  color: #ffffff;
  background-color: tomato;
  opacity: 0;
  transition: opacity .3s;
}

.inputs__text.error::before {
  opacity: 1;
}

.inputs__field {
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px 5px;
  width: 50px;
  font-size: 15px;
  text-align: center;
}

.inputs-units-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
  border-bottom: 1px solid #ffffff;
}

.inputs-units-button {
  width: 50px;
}

.property-buttons {
  width: 100%;
}

.flex-shrink-one {
  width: 240px;
}

.flex-shrink-two {
  width: 180px;
}

.flex-shrink-three {
  width: 100px;
}

@media (min-width: 360px) and (max-width: 1023px) {
  code {
    font-size: 12px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }

  .property-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
  }
}

@media (min-width: 430px) and (max-width: 1023px) {
  code {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  code {
    font-size: 16px;
  }

  h1 {
    font-size: 80px;
  }

  .visual {
    width: 50%;
    flex-shrink: 0;
    margin-right: 10px;
  }

  .property-title {
    text-align: left;
  }

  .property-buttons {
    display: flex;
    width: 79%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .wrapper {
    flex-direction: row;
    align-items: initial;
  }

  .inputs {
    flex-direction: row;
  }

  .flex-items {
    width: 490px;
    height: 490px;
  }

  .flex-item {
    width: 80px;
  }

  .flex-item:nth-child(1) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .flex-item:nth-child(2) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  
  .flex-item:nth-child(3) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .flex-item:nth-child(4) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .flex-item:nth-child(5) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .flex-item:nth-child(6) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .flex-item:nth-child(7) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .flex-item:nth-child(8) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .flex-shrink-one {
    width: 340px;
  }
  
  .flex-shrink-two {
    width: 280px;
  }
  
  .flex-shrink-three {
    width: 200px;
  }
}
